<div id="requester-task-item">
  <div class="container">
    <h1 class="requester-task-stage"> Pick item </h1>
    <h4 class="requester-choice"> <small> Location: </small> {{ ctrl.order.vendor }} </h4>
    <form>
      <div class="form-group">
        <h5> <span class="requester-task-label"> I want a </span><br/> 
        <input class="requester-item" type="text" placeholder="Mocha Frappucino" ng-model="ctrl.item"> </h5> 
        <h5> <span class="requester-task-label"> with </span><br/>
        <input class="requester-item" type="textarea" placeholder="Whipped cream" ng-model="ctrl.details"> </h5>
        <button class="btn btn-lg btn-primary confirm-choice-button" type="submit" ng-click="ctrl.setItem()">Confirm item</button>
      </div>
    </form>
  </div>
</div>
