<div id="requester-task-location">

  <h1> Pick Shop to make a request </h1>

  <mapbox id="map" callback="ctrl.callback"></mapbox>

  <div id="shop" ng-repeat="venue in ctrl.venues">
    <div ng-click= "ctrl.selectLocation(venue)">
     {{ venue.name }}
    </div>
  </div>

</div>

<!--This styling portion below will not stay here - it's just here for prototyping purposes-->
<style>
  #map {
    width: 600px;
    height: 700px;
    /*left: 750px;*/
    float: right;
  }
</style>
