<div id="requester-task" ng-controller="RequesterTaskCtrl as ctrl">
  <nav-bar></nav-bar>
  <!--   <div ui-view="location" ng-show="true">location div</div>
  <div ui-view="item" ng-show="true">item div</div>
  <div ui-view="time_price" ng-show="true">time & price div</div>
  <div ui-view="confirm" ng-show="true">confirm button</div> -->



  <div id="requester-task-location">
    <div class="requester-location container-fluid">
      <div class="view-container">
        <div class="row-fluid">
          <div class="col-left list-group">

            <div class="search-bar row-fluid">
              <div class="input-group move-down">
                <input type="text" id="Autocomplete" class="search-box form-control" ng-autocomplete="ctrl.result1" details="ctrl.details1" options="ctrl.options1" placeholder="Search for a location...">
                <span class="input-group-btn">
                  <button class="search-box btn btn-primary" ng-click="ctrl.searchLocation()" type="button">Go!</button>
                </span>
              </div><!-- /input-group move-down-->
            </div> <!-- /search-bar row-fluid -->

            <div class="vendor-list row-fluid">
              <div class="title list-group-item">
                Pick a Location
                <i class="center-loc pointer fa fa-location-arrow pull-right" ng-click="ctrl.getMyLocation()"><span>Center Map at your Location</span></i>
              </div>
              <button type="button" id="shop" class="list-group-item" ng-repeat="venue in ctrl.venues">
                <div ng-click="ctrl.selectLocation(venue, $index)">
                  <span class="badge pull-right">{{ venue.heroes }}</span>
                  <div class="vendor"><strong>{{ $index+1 }}</strong> {{ venue.name }}</div>
                  <div class="meeting-address">{{ venue.displayAddress }}</div>
                </div>
              </button>
              <div ui-view="item" ng-show="ctrl.itemView">
              </div> <!-- /ui-view -->
            </div> <!-- /vendor-list row-fluid -->

          </div> <!-- /col-left list-group -->

          <div class="map-container">
            <div class="col-map">
              <mapbox id="map" callback="ctrl.callback"></mapbox>
            </div> <!-- /col-map -->
          </div> <!-- /map-container -->

        </div> <!-- /col-left list-group -->
      </div> <!-- /view-container -->
    </div> <!-- /requester-location container-fluid -->
  </div> <!-- /requester-task-location -->
</div> <!-- /requester-task controller -->

