<div id="hero-task" ng-controller="HeroTaskCtrl as ctrl">
  <nav-bar></nav-bar>
  <div>
    <button ng-click="ctrl.removeFromQueue()">Leave Queue</button>
  </div>

  <div>
    <div>location: {{ ctrl.vendor }}</div>
    <div>item: {{ ctrl.orders[ctrl.displayId].item }}</div>
    <div>price: {{ ctrl.orders[ctrl.displayId].moneyExchanged | currency }}</div>
    <img src="" alt="{{ ctrl.orders[ctrl.displayId].requester }}">

    <div>
      <span>time: {{ ctrl.orders[ctrl.displayId].meetingTime | date : 'h:mm a' }} </span>
    </div>

      <button ng-click="ctrl.previous()" ng-disabled="ctrl.displayId === 0">Previous</button>
      <button ng-click="ctrl.next()" ng-disabled="ctrl.displayId === ctrl.orders.length - 1 || ctrl.orders.length === 0">Next</button>

    <div ng-hide="ctrl.confirmView">
      <button ng-click="ctrl.remove(ctrl.displayId)">No</button>
      <button ng-click="ctrl.confirmView = true">Yes</button>
    </div>
    <div ng-show="ctrl.confirmView">
      Are you sure you want to take this mission?
      <button ng-click="ctrl.confirmView = false">Cancel</button>
      <button ng-click="ctrl.accept(ctrl.displayId)">Submit</button>
    </div>
  </div>


</div>
