html,
body,
#home {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
  min-width: 320px;
}

body > div:first-of-type {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

@media (min-width:768px) {
  body > div:first-of-type {
    padding-top: 55px;
  }
}
body > div:first-of-type > div:first-of-type {
  padding-top: 15px;
}
/*---------------------------- bootstrap -----------------------------*/
/*----------------- uncomment to show bootstrap boxes-----------------*/
/*
.container {
  background-color: rgba(173, 200, 121, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

.row {
  background-color: rgba(200, 121, 121, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

*[class^='col'] {
  background-color: rgba(121, 200, 198, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}
*/

.btn-blue {
  background-color: #2e79b9;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid transparent;
}

.btn-green {
  background-color: #58b957;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid transparent;
}

.btn-back {
  margin: 15px;
}

.padding {
  padding: 15px;
}

.margin {
  margin: 15px;
}

.pointer {
  cursor: pointer;
}

.font-large {
  font-size: 1.25em
}

button,
.button,
.btn {
  border-radius: 1px !important;
}

button:focus,
.button:focus,
.btn:focus {
  outline: 0 !important;
}

input {
  border-radius: 1px !important;
}

.input-group-addon {
  border-radius: 1px !important;
}
#choice,
#hero-task,
#hero-location,
#hero-order,
#profile,
#requester-order,
#requester-task,
#signup {
  font-size: 1.3vh;
}

#home {
  font-size: 2vh;
}

/*----------------- navbar -----------------*/

.navbar {
  background-color: #3e454b;
  border-bottom: 0px;
  height: 50px;
  font-size: 14px;
}

.navbar .btn-blue {
  padding: 3px 10px;
  margin-right: 5px;
}

.queuehero {
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
}

@media (min-width:768px) {
  .navbar {
    height: 55px;
  }

  .navbar .btn-blue {
    padding: 6px 12px;
  }
  .queuehero {
    font-weight: 300;
    font-size: 1.25em;
  }
}

/* different navbar at home */
#home .navbar {
  background-color: transparent;
}

#home .queuehero {
  display: none;
}

#home .container-fluid {
  min-width: 320px;
  width: 100%;
}

.navbar .btn-home {
  margin-right: 15px;
  padding: 10px 10px;
  color: #ffffff;
  font-size: 1.3em;
  border-top: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.navbar .btn-home:hover {
  border-top: 3px solid #dddddd;
  border-bottom: 3px solid #dddddd;
}

/*----------------- home -----------------*/

#home {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/queue-hero.jpg);
  background-size: cover;
  background-position: center;
}

#home > .container {
  width: 100%;
  height: 100%;
}

.landing-page {
  width: 100%;
  height: 100%;
  display: table;
}

.landing-page-body {
  width: 100%;
  height:100%;
  display: table-cell;
  vertical-align: middle;
}

.landing-page-intro {
  background-color: rgba(0,0,0,0.4);
  border-width: 10px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-bottom: 15%;
}

.slogan {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

.subheader {
  font-size: 1.5em;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  margin-bottom: 30px;
}

.btn-fb {
  background-color: #3b5998;
  font-weight: 400;
  font-size: 0.75em;
  color: #ffffff;
  border: 2px solid transparent;
  box-shadow: 1px 1px 5px #333333;
}

.learn-how {
  width: 80%;
  background-color: rgba(62, 69, 75, 0.75);
  color: #ffffff;
}

@media (max-width:414px) {
  .landing-page-intro {
    text-align: center;
    width: 95%;
    display: block;
    margin: 0 auto;
  }

  .slogan {
    font-size: 1.5em;
  }

  .subheader {
    font-size: 1em;
  }

  .navbar .btn-home {
    font-size: 1em;
  }
}

@media (min-width:768px) {
  .landing-page-intro {
    margin-bottom: 15%;
  }

  #home .container-fluid {
    width: 750px;
  }
}

@media (min-width:992px) {
  #home .container-fluid {
    width: 970px
  }
}

@media (min-width:1200px) {
  #home .container-fluid {
    width: 1170px
  }
}
/*----------------- choice -----------------*/

#choice {
  height: 100%;
}

.blur {
  content: '';
  position: relative;
  height: 100%;
  z-index: 1;
}

.blur:before {
  content: '';
  display: block;
  position: absolute;
  height: calc(100% - 50px);
  width: 100%;
  background-image: url(../images/local.png);
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px)
  filter: blur(5px);
  z-index: -1;
}

.blur > .container {
  height: 100%;
}

.choice {
  width: 100%;
  height: 100%;
  display: table;
}

.choice-select {
  width: 100%;
  height:100%;
  display: table-cell;
  vertical-align: middle;
}

.choice-select-body {
  background-color: rgba(0,0,0,0.4);
  border-width: 10px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  color: #ffffff;
  display: block;
  margin: 0 auto;
  margin-bottom: 15%;
}

.choice-select-body .select {
  font-size: 3.5vh;
}

.choice-select-body .or {
  margin: 15px;
  font-size: 2vh;
}
.choice-select-body > button {
  font-size: 2.5vh;
}

/*----------------- profile -----------------*/

.panel {
  border: 0px transparent;
  border-radius: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-heading {
  border-radius: 1px;
}

.edit-profile {
  cursor: pointer;
}

.edit-profile:hover {
  color: black;
}

.picture-container {
  position: relative;
  height: 280px;
  width: 280px;
}

.upload {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 15px;
  left: 15px;
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.picture-container > span {
  text-align: center;
  display: block;
  cursor: pointer;
}

.profile-pic {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.transaction-header {
  display: inline-block;
  width: 50%;
}
.transaction-hero {
  background-color: #d8edf8;
}

.transaction-requester {
  background-color: #fcf8e2;
}

.transaction-list-item {
  margin: 5px 0;
}

.transaction-list-item > strong {
  width: 22.5%;
  display: inline-block;
}

@media (min-width: 768px) {
  .transaction-list-item > strong {
    width: 25%;
  }
}
/*----------------- signup -----------------*/

.select-state,
.select-country,
.submit-button,
.status-good {
  margin-bottom: 15px;
}

.validation-alert {
  font-weight: 300;
  color: red;
}

.submit-button > button {
  background-color: #dcedc8;
}

.status-good {
  font-weight: 300;
  color: #689f38;
}

/*----------------- requester and hero task panel -----------------*/

.vendor {
  font-size: 1.3em;
}
.vendor-index {
    display: inline-block;
    height: 1.25em;
    width: 1.25em;
    line-height: 1.2em;
    border-bottom: 2px solid #9bcfe9;
    color: #555555;
    text-align: center;
    font-size: 1.1em;
}
.meeting-address {
  font-size: 1.1em;
}

.view-container {
  position: absolute;
  left: 0px;
  height: calc(100% - 80px);
  width: 100%;
  overflow: hidden;
}

.view-container > .row-fluid {
  height: 100%;
  width: 100%;
}

.col-left {
  padding: 0 15px;
  width: 100%;
  float: left;
}

.search-bar > .input-group {
  margin-bottom: 15px;
}

.search-bar,
.search-box {
  border-radius: 1px;
}

.toggle-btn.fa:before {
  height: 4.7vh;
  line-height: 4.7vh;
  font-size: 2vh;
}

.toggle-btn:hover {
  color: #3e454b;
}

.col-left .title {
  padding: 0px 15px;
  height: 4.7vh;
  line-height: 4.7vh;
  background-color: #2e79b9;
  color: #ffffff;
  font-size: 2vh;
  border-color: #2e79b9;
  border-bottom: 1px solid #3e454c;
  border-radius: 1px;
}

.list-group-item:first-child {
    border-radius: 1px;
}

.list-group-item:last-child {
    border-radius: 1px;
}

.list-group {
  margin-bottom: unset;
}

.vendor-list button.list-group-item {
  font-size: 1.6vh;
  height: calc((100vh - (124px + 4.7vh)) / 10);
  line-height: calc(((100vh - (124px + 4.7vh)) / 10) / 2.2);
}

.hero-location button.list-group-item {
  font-size: 1.6vh;
  height: calc((100vh - (75px + 4.7vh)) / 10);
  line-height: calc(((100vh - (75px + 4.7vh)) / 10) / 2.2);
}

#hero-task button.list-group-item {
  font-size: unset;
  height: unset;
  /*height: calc((100vh - (181px + 4.7vh)) / 5);*/
  /*line-height: calc(((100vh - (181px + 4.7vh)) / 5) / 2.2);*/
}

.hero-task-list {
  width: 100%;
}

.meeting-time,
.money-exchanged {
  font-size: 1.6vh;
}

.request-list-item {
  margin-bottom: 10px;
}

.order-additional-detail {
  margin-bottom: 0;
}

.request-list-item {
  height: calc(((100vh - (75px + 4.7vh + ((100vh - (75px + 4.7vh)) / 10))) / 10) / 4);
  line-height: calc(((100vh - (75px + 4.7vh + ((100vh - (75px + 4.7vh)) / 10))) / 10) / 4);
}

.request-item-icon {
  padding: 0 10px 0 0;
}

.badge {
  border-radius: 1px;
}

.updated {
  background-color: #2A7F31;
}

.pager span {
  border-radius: 1px !important;
}

.btn-leave {
  margin: 15px 0;
}

.confirm-mission {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
}

.confirm-mission .btn {
  width: 45%;
}

.confirm-mission .btn-danger {
  margin-right: 2.5%;
}

.btn-confirm-mission {
  margin-left: 2.5%;
  color: #ffffff;
  background-color: #58b957;
}

.confirm-mission .glyphicon {
  padding-right: 10px;
}

@media (min-width: 768px) {
  .view-container {
    position: absolute;
    left: 0px;
    height: calc(100% - 85px);
    width: 100%;
  }

  .col-left {
    width: 50%;
    padding-right: 0px;
  }

  .center-loc.fa-map-o,
  .center-loc.fa-list-alt {
    display: none;
  }
}

@media (min-width: 992px) {
  .col-left {
    width: 45%;
  }
}

@media (min-width: 1200px) {
  .col-left {
    width: 40%;
  }
}
/*----------------- map -----------------*/

.map-container {
  width: 100%;
  height: 100%;
}

.col-map {
  height: 100%;
  width: 100%;
  padding: 0 15px;
  float: right;
  position: relative;
}

#map {
  display: block;
  width: 100%;
  height: 100%;
}

#requester-order-complete,
#requester-order-complete .container-fluid,
#requester-order-complete .container-fluid .complete-map,
#requester-order-complete .container-fluid .complete-map .col-xs-12 {
  width: 100%;
  height: 100%;
}

#requester-order-complete #map {
  margin: 15px 0;
  height: 50vh
}
@media (min-width: 768px) {
  .col-map {
    display: block;
    padding-right: 15px;
    width: 50%;
  }

  #map {
    display: block;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .col-map {
    width: 55%;
  }

  #requester-order-complete #map {
    margin: unset;
    width: 100%;
    height: 50vh;
  }
}

@media (min-width: 1200px) {
  .col-map {
    width: 60%;
  }
}

/*----------------- requester order -----------------*/

.order-details {
  border: 1px solid #ffffff;
  border-radius: 1px;
  background: #ffffff;
  padding: 15px;
}

.order-line {
  font-size: 1.2em;
}

.your-order {
  margin-top: 0px;
}

.no-orders {
  font-size: 16px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.btn-met-hero,
.cancel, .rate {
  margin-top: 15px;
}
