html, body {
  width: 100%;
  height: 100%;
  font-family: 'helvetica neue', sans-serif;
  background-color: #fafafa;
}

body > div:first-of-type {
  padding-top: 60px;
}

/* show bootstrap grids */
/*
.container {
  background-color: rgba(173, 200, 121, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

.row {
  background-color: rgba(200, 121, 121, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

*[class^='col'] {
  background-color: rgba(121, 200, 198, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}
*/

.main {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 10px;
}

.continue-fb.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn.continue-fb {
  background-color: #3b5998;
  color: #ffffff;
}

.choice-hero {
  padding: 20px;
}

.choice-requester {
  padding: 20px;
}

.button-hero {
  height: 200px;
}

.button-requester {
  height: 200px;

.profile-pic {
  height: 200px;
  width: 100px;

}

@media (max-width:768px) {
  .main {
    background-color: #fafafa;
    border: none;
  }
}

button .login {
  position: relative;
  top: 150px;
}

.select-state,
.select-country,
.submit-button,
.status-good {
  margin-bottom: 15px;
}

.validation-alert {
  font-weight: bold;
  color: red;
}

.submit-button > button {
  background-color: #dcedc8;
}

.status-good {
  font-weight: bold;
  color: #689f38;
}
