html,
body,
#home {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: #eeeeee;
  min-width: 320px;
}

body > div:first-of-type {
  width: 100%;
  height: 100%;
  padding-top: 45px;
}

@media (min-width:768px) {
  body > div:first-of-type {
    padding-top: 55px;
  }
}
body > div:first-of-type > div:first-of-type {
  padding-top: 15px;
}
/*---------------------------- bootstrap -----------------------------*/
/*----------------- uncomment to show bootstrap boxes-----------------*/
/*
.container {
  background-color: rgba(173, 200, 121, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

.row {
  background-color: rgba(200, 121, 121, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}

*[class^='col'] {
  background-color: rgba(121, 200, 198, 0.1);
  -moz-box-shadow:    inset 0 0 1px #000000;
  -webkit-box-shadow: inset 0 0 1px #000000;
  box-shadow:         inset 0 0 1px #000000;
}
*/

.btn-blue {
  margin-right: 5px;
  background-color: #2e79b9;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 1px;
  box-shadow: 1px 1px 5px #333333;
}
.btn-leaveQ {
  margin-right: 5px;
  background-color: #2e79b9;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 1px;
  box-shadow: 1px 1px 5px #333333;
}

.btn-green {
  margin-right: 5px;
  background-color: #58b957;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 1px;
}

.btn-back {
  margin: 15px;
}

.padding {
  padding: 15px;
}

.margin {
  margin: 15px;
}

.pointer {
  cursor: pointer;
}

.font-large {
  font-size: 1.25em
}

/*----------------- navbar -----------------*/
.navbar {
  background-color: #3e454b;
  border-bottom: 0px;
  height: 45px;
}

.navbar .btn-blue {
  padding: 3px 10px;
}

.queuehero {
  font-weight: 300;
  font-size: 1em;
  color: #ffffff;
}

@media (min-width:768px) {
  .navbar {
    height: 55px;
  }

  .navbar .btn-blue {
    padding: 6px 12px;
  }
  .queuehero {
    font-weight: 300;
    font-size: 1.25em;
  }
}
/*----------------- home -----------------*/

#home {
  background-image: url(../images/queue-hero.jpg);
  background-size: cover;
  background-position: center;
}

#home > .container {
  width: 100%;
  height: 100%;
}

.landing-page {
  width: 100%;
  height: 100%;
  display: table;
}

.landing-page-body {
  width: 100%;
  height:100%;
  display: table-cell;
  vertical-align: middle;
}

.landing-page-intro {
  background-color: rgba(0,0,0,0.25);
  border-width: 10px;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  margin-top: -25%;
  color: #ffffff
}

.slogan {
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

.btn-fb {
  background-color: #3b5998;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 1px;
  box-shadow: 1px 1px 5px #333333;
}

.learn-how {
  width: 80%;
  background-color: rgba(62, 69, 75, 0.75);
  color: #ffffff;
}

@media (max-width:414px) {
  .landing-page-intro {
    text-align: center;
    width: 95%;
    display: block;
    margin: 0 auto;
  }

  .slogan {
    font-size: 1.5em;
  }
}
@media (min-width:768px) {
  .slogan {
    font-size: 2.75em;
  }

  .landing-page-intro {
    margin-top: -20%;
  }
}

/*----------------- choice -----------------*/

.choice-hero {
  padding: 20px;
}

.choice-requester {
  padding: 20px;
}

.button-hero {
  height: 200px;
}

.button-requester {
  height: 200px;
}

/*----------------- profile -----------------*/

.panel {
  border: 0px transparent;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.panel-heading {
  border-radius: 0px;
}

.edit-profile {
  cursor: pointer;
}

.edit-profile:hover {
  color: black;
}

.picture-container {
  position: relative;
  height: 280px;
  width: 280px;
}

.upload {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 15px;
  left: 15px;
  background-color: rgba(255,255,255,0.5);
  cursor: pointer;
}

.picture-container > span {
  text-align: center;
  display: block;
  cursor: pointer;
}

.profile-pic {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 250px;
  width: 250px;
  border-radius: 10px;
}

.transaction-hero {
  background-color: #d8edf8;
}

.transaction-requester {
  background-color: #fcf8e2;
}

/*----------------- signup -----------------*/

.select-state,
.select-country,
.submit-button,
.status-good {
  margin-bottom: 15px;
}

.validation-alert {
  font-weight: 300;
  color: red;
}

.submit-button > button {
  background-color: #dcedc8;
}

.status-good {
  font-weight: 300;
  color: #689f38;
}

/*----------------- requester and hero task panel -----------------*/

.vendor {
  font-size: 1.3em;
}

.meeting-address {
  font-size: 1.1em;
}

.col-left {
  width: 100%;
  height: 92%;
  padding: 0 15px;
  float: left;
  overflow: hidden;
  overflow-y: scroll;
}

.title {
.search-bar > .input-group {
  margin-bottom: 15px;
}

.search-box {
  border-radius: 0px;
}

.center-loc {
  position: relative;
}
.center-loc span {
  display: none;
}
.center-loc:hover {
  color: #3e454b;
}

.col-left .title {
  background-color: #2e79b9;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.4em;
  border-color: #2e79b9;
  border-bottom: 1px solid #3e454c;
  border-radius: 0px;
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  border: 1px solid #ddd;
}

.list-group-item:first-child {
    border-radius: 0px;
}

.view-container {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 100%;
}

.view-container .row-fluid:first-of-type {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .col-left {
    width: 35%;
  }
}

@media (min-width: 1200px) {
}

.confirm-mission {
  float: right;
}

.btn-confirm-mission {
  margin-right: 5px;
  font-weight: 400;
  font-size: 1em;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 1px;
  box-shadow: 1px 1px 5px #333333;
  background-color: #58b957;
}

/*----------------- requester task map -----------------*/

.map-container {
  width: 100%;
  height: 100%;
}

.col-map {
  padding-right: 15px;
  width: 65%;
  height: 95%;
  float: right;
}
#map {
  display: none;
}

@media (min-width: 768px) {
  #map {
    display: block;
    width: 100%;
    height: 95%;
  }
}

/*----------------- requester order -----------------*/

#requester-order-details, #requester-order-complete, #requester-order-rate, #hero-order-details, #hero-order-complete {
  margin-left: 10px;
}

.order-details {
  border: 1px solid #ffffff;
  border-radius: 15px;
  background: #ffffff;
  width: 550px;
  margin-bottom: 10px;
  padding: 10px;
}
.order-line {
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.your-order {
  margin-top: 0px;
}
