<div id="home" ng-controller="HomeCtrl as ctrl">
  <nav-bar></nav-bar>
  <div class="container">
    <div class="landing-page">
      <div class="landing-page-body">

        <div class="landing-page-intro padding" ng-hide="ctrl.next">
          <div class="slogan margin text-center">Find Your Queue Hero</div>
          <div class="subheader text-center">Never Wait in Line</div>
          <a href="/auth/facebook" class="btn btn-fb margin center-block">Continue with Facebook</a>
        </div> <!-- /kanding-page-box -->

      </div> <!-- /landing-page-body -->
    </div> <!-- /landing-page -->
  </div> <!-- /container -->
</div> <!-- /home -->
