<div id="profile" ng-controller="ProfileCtrl as ctrl">
  <nav-bar></nav-bar>
  <div class="container">
    <div class="row">

      <!-- ============= Profile ============= -->

      <div class="profile-container col-lg-4 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Profile
            <div class="edit-profile pull-right" ng-hide="ctrl.isEdit" ng-click="ctrl.toggleEdit()">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;Edit Profile
            </div> <!-- /edit profile -->

            <div class="edit-profile pull-right" ng-show="ctrl.isEdit" ng-click="ctrl.toggleEdit(); ctrl.update()" value="Save">
              <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>&nbsp;&nbsp;Save Profile
            </div> <!-- /save profile -->
          </div> <!-- /panel-heading -->

      <!-- ============= Profile View Mode ============= -->

          <div class="panel-body" ng-hide="ctrl.isEdit">
            <div class="picture-container col-lg-12 col-sm-4 col-xs-12 padding">
              <img class="profile-pic img-responsive center-block" ng-hide="ctrl.hideProfilePic" src="{{ ctrl.user.myProfilePhoto }}" alt="">
              <img class="profile-pic img-responsive center-block" ng-show="ctrl.f" ngf-src="ctrl.f" alt="">
            </div>
            <div class="profile-data padding col-lg-12 col-sm-8 col-xs-12">
              <div class="font-large">
                <span><strong>{{ ctrl.user.firstName }}</strong> </span>
                <span><strong>{{ ctrl.user.lastName }}</strong></span>
                <p>({{ ctrl.user.username }})</p>
              </div>
              <div class="">
                Phone Number: <span>{{ ctrl.user.phoneNumber }}</span>
              </div>
              <!--
              <div class="">
                <span>{{ ctrl.user.billingAddress }}</span>
              </div>
              <div class="">
                <span>{{ ctrl.user.city }}</span>
              </div>
              <div class="">
                Credit/Debit Card Number: <span>{{ ctrl.user.cardNumber }}</span>
              </div>
              <div class="">
                CVC Code: <span>{{ ctrl.user.cvc }}</span>
              </div>
              <div class="">
                Expiration Date: <span>{{ ctrl.user.expirationDate }}</span>
              </div>
              -->
            </div> <!-- /profile-data -->
          </div> <!-- /panel-body -->

      <!-- =============== Profile Edit Mode =============== -->

          <div class="panel-body" ng-show="ctrl.isEdit">
            <div class="picture-container col-lg-12 col-sm-4 col-xs-12 padding">
              <img class="profile-pic img-responsive center-block" ng-hide="ctrl.hideProfilePic" src="{{ ctrl.user.myProfilePhoto }}" alt="">
              <img class="profile-pic img-responsive center-block" ng-show="ctrl.f" ngf-src="ctrl.f" alt="">
              <div class="upload" type="file" ng-model="ctrl.file" ngf-select="ctrl.uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="2MB"></div>
              <span type="file" ng-model="ctrl.file" ngf-select="ctrl.uploadFiles($file)" accept="image/*" ngf-max-height="1000" ngf-max-size="2MB">Click to change profile pic</span>
            </div>
            <div class="profile-data padding col-lg-12 col-sm-8 col-xs-12">
              <form novalidate class="simple-form">
              <div class="font-large">
                <span><strong><input name="first" type="text" ng-model="ctrl.user.firstName" required></strong> </span>
                <span><strong><input name="last" type="text" ng-model="ctrl.user.lastName" required></strong></span>
                <p>({{ ctrl.user.username }})</p>
              </div>
              <div class="">
                Phone Number: <span><input type="text" ng-model="ctrl.user.phoneNumber"></span>
              </div>
              <!--
              <div class="">
                <span><input type="text" ng-model="ctrl.user.billingAddress"></span>
              </div>
              <div class="">
                <span><input type="text" ng-model="ctrl.user.city"></span>
              </div>
              <div class="">
                Credit/Debit Card Number: <span><input type="text" ng-model="ctrl.user.creditCard"></span>
              </div>
              <div class="">
                CVC Code: <span><input type="text" ng-model="ctrl.user.cvc"></span>
              </div>
              <div class="">
                Expiration Date: <span><input type="text" ng-model="ctrl.user.expDate"></span>
              </div>
              -->
              </form>
            </div> <!-- /profile-data -->
          </div> <!-- /panel-body -->

      <!-- =============== End Profile Edit =============== -->

        </div> <!-- /panel -->
      </div> <!-- /profile-container -->

      <!-- =============== Transaction History =============== -->

      <div class="transaction-container col-lg-8 col-xs-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Transaction History
          </div> <!-- /panel-heading -->

          <ul class=list-group>
            <li class="list-group-item" ng-repeat="transaction in ctrl.userTransactions">
              <div class="transaction-hero padding" ng-show="transaction.queueHero === ctrl.user.username">
                <p class="font-large">Role: Queue Hero</p>
                <div class="row">
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Requester</strong></span>
                  <span class="col-sm-4 col-xs-8" ng-show="transaction.requester == null">unassigned</span>
                  <span class="col-sm-4 col-xs-8" ng-show="transaction.requester != null">{{ transaction.requester }}</span>
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Vendor</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.vendor }}</span>
                </div>
                <div class="row">
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Status</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.status }}</span>
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Item</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.item }}</span>
                </div>
                <div class="row">
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Time</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.meetingTime }}</span>
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Value</strong></span><span class="col-sm-4 col-xs-8">${{ transaction.moneyExchanged }}</span>
                </div>
              </div>

              <div class="transaction-requester padding" ng-show="transaction.requester === ctrl.user.username">
                <p class="font-large">Role: Requester</p>
                <div class="row">
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Queue Hero</strong></span>
                  <span class="col-sm-4 col-xs-8" ng-show="transaction.queueHero == null">Unassigned</span>
                  <span class="col-sm-4 col-xs-8" ng-show="transaction.queueHero != null">{{ transaction.queueHero }}</span>
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Vendor</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.vendor }}</span>
                </div>
                <div class="row">
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Status</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.status }}</span>
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Item</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.item }}</span>
                </div>
                <div class="row">
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Time</strong></span><span class="col-sm-4 col-xs-8">{{ transaction.meetingTime }}</span>
                  <span class="col-sm-2 col-xs-4 text-right"><strong>Value</strong></span><span class="col-sm-4 col-xs-8">${{ transaction.moneyExchanged }}</span>
                </div>

              </div>
            </li>
          </ul>

        </div> <!-- /panel panel-primary -->
      </div>  <!-- /transaction container -->
    </div> <!-- /row -->
  </div> <!-- /container -->
</div> <!-- /profile ctrl -->
