<div id="requester-order-complete">
  <h1> Queue hero to the rescue! </h1>

  <mapbox id="map" callback="ctrl.callback"></mapbox>
  <div class="order-details">
    <div class="order-line">Meet {{ ctrl.order.queueHero }}</div>
    <!-- <img src="" alt="Queue Hero Pic"> -->
    <div class="order-line">
      at {{ ctrl.order.meetingTime | date : 'EEE. MMM d, h:mm a' }}
    </div>
    <div class="order-line">
      at {{ ctrl.order.vendor }}
    </div>
  </div>
  <button type="button" class="btn btn-success btn-met-hero" ng-click="ctrl.confirmReceipt()">I met my Queue Hero! </button>

</div>

<style>
#map {
  height: 600px;
  width: 600px;
  float: right;
  margin: 15px;
}
</style>
