<div id="requester-order-details">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <h1> Sit tight, you will have a queue hero soon! </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-offset-2 col-sm-8">
      <div class="order-details">
        <h3 class="your-order"> Your order </h3>
        <div class="order-line"> Meeting location: {{ ctrl.order.vendor }} </div>
        <div class="order-line"> Item: {{ ctrl.order.item }} </div>
        <div class="order-line"> Additional Requests: {{ ctrl.order.additionalRequests }} </div>
        <div class="order-line"> Meeting time: {{ ctrl.order.meetingTime | date : 'EEE. MMM d, h:mm a' }} </div>
        <div class="order-line"> Price: {{ ctrl.order.moneyExchanged | currency }} </div>
        <div class="cancel">
          <button type="button" class="btn btn-danger" ng-click="ctrl.cancelOrder()">Cancel Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
