<div id="requester-order-details">
  <h1> Sit tight, you will have a queue hero soon! </h1>

  <h3> Your order </h3>
  Meeting location: <span> {{ ctrl.order.vendor }}</span> <br/>
  Item: <span> {{ ctrl.order.item }}</span> <br/>
  Additional Requests: <span> {{ ctrl.order.additionalRequests }} </span> <br/>
  Meeting time: <span> {{ ctrl.order.meetingTime | date : 'EEE d MMM h:mm a' }} </span> <br/>
  Price: <span> {{ ctrl.order.moneyExchanged | currency }} </span> <br/>

  <button type="button" class="btn btn-danger" ng-click="ctrl.cancelOrder()">Cancel Order</button>

</div>
