<div id="requester-order-rate">
  <h1> Order complete </h1>
  <div class="order-details">
    <div class="order-line"> On a scale of 1 to 5, with 5 being the highest, how pleasant was your interaction with {{ ctrl.order.queueHero }}? (Please rate your queue hero on punctuality, friendliness, etc.)</div>
    <div class="form-group">
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="ctrl.rating" id="inlineRadio1" value="1"> 1
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="ctrl.rating" id="inlineRadio2" value="2"> 2
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="ctrl.rating" id="inlineRadio3" value="3"> 3
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="ctrl.rating" id="inlineRadio1" value="4"> 4
      </label>
      <label class="radio-inline">
        <input type="radio" name="inlineRadioOptions" ng-model="ctrl.rating" id="inlineRadio2" value="5"> 5
      </label>
    </div>
  </div>
  <button type="button" class="btn btn-success" ng-click="ctrl.rateHero()">Rate</button>

</div>
