<!-- all data from the form will be saved in the user object in the controller -->


<div id="signup" ng-controller="SignupCtrl as ctrl">
  <nav-bar></nav-bar>
  Signup view
  <form novalidate class="simple-form" name="signup">
    Create username: <input name="username" type="text" ng-model="ctrl.user.username" required minlength="6" maxlength="20"/><br/>
    <div ng-messages="signup.username.$error" ng-show="signup.username.$error && signup.username.$touched">
      <div ng-messages-include="./src/shared/validation/messages.html"></div>
    </div>

    First Name: <input name="first" type="text" ng-model="ctrl.user.firstName" required /><br/>
    <div ng-messages="signup.first.$error" ng-show="signup.first.$error && signup.first.$touched">
      <div ng-messages-include="./src/shared/validation/messages.html"></div>
    </div>

    Last Name: <input name="last" type="text" ng-model="ctrl.user.lastName" required/><br/>
    <div ng-messages="signup.last.$error" ng-show="signup.last.$error && signup.last.$touched">
      <div ng-messages-include="./src/shared/validation/messages.html"></div>
    </div>

    Phone Number: <input name="phone" type="text" ng-model="ctrl.user.phoneNumber" /><br/>

    Credit/Debit Card Number: <input name="card" type="text" ng-model="ctrl.user.creditCard" /><br/>

    CVC Code: <input name="cvc" type="text" ng-model="ctrl.user.cvc" /><br/>

    Expiration Date: <input name="exp" type="text" ng-model="ctrl.user.expDate" /><br/>

    Billing Address: <input name="address" type="text" ng-model="ctrl.user.billingAddress" /><br/>


    City: <input name="city" type="text" ng-model="ctrl.user.city" /><br/>
    <select name="state" ng-model="ctrl.user.state">
      <option selected="selected" value="">Select State</option>
      <option  value="California">California</option>
      <option value="Tabasco">Tabasco</option>
    </select>
    <select name="country" ng-model="ctrl.user.country">
      <option selected="selected" value="">Select Country</option>
      <option  value="USA">USA</option>
      <option  value="Mexico">Mexico</option>
    </select><br/>
    <input type="submit" ng-click="ctrl.update()" value="Save" ng-disabled="signup.$invalid"/>
  </form>
  <pre>user = {{ ctrl.user | json }}</pre>
</div>


