<div id="choice" ng-controller="ChoiceCtrl as ctrl">
  <nav-bar myname="hello"></nav-bar>
  <div class="container choices">
    <div class="wrap row">

        <div class="choice-hero row">
          <button class="button-hero btn btn-default col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" ng-click="ctrl.hero()">I am a Queue Hero!</button>
        </div>
        <div class="choice-requester row">
          <button class="button-requester btn btn-default col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" ng-click="ctrl.requester()">I need a Queue Hero!</button>
        </div>

    </div> <!-- /wrap row -->
  </div> <!-- /container choices -->
</div> <!-- /choice ctrl -->
