<div id="choice" ng-controller="ChoiceCtrl as ctrl">
  <div class="blur">
    <nav-bar></nav-bar>
    <div class="container">
      <div class="choice">
        <div class="choice-select">
          <div class="padding choice-select-body">
            <div class="select margin text-center">Select your Adventure</div>
            <button ng-click="ctrl.hero()" class="btn btn-blue btn-block">Take Request</button>
            <div class="or text-center">or</div>
            <button ng-click="ctrl.requester()" class="btn btn-green btn-block">Create Request</button>
          </div>
        </div>
      </div> <!-- /kanding-page-box -->
    </div>
  </div>
</div>
