<div id="hero-location" ng-controller="HeroLocationCtrl as main">
  <nav-bar></nav-bar>

  <div class="hero-location container-fluid">
    <div class="view-container">
      <div class="row-fluid">

        <div class="col-left list-group">
          <div class="title list-group-item" >Where are you Queue Hero?</div>
          <button type="button" id="shop" class="list-group-item" ng-repeat="location in main.locations">
            <div value="$index" ng-click="main.confirm($index)">
              <update-Change type="request" content="{{ location.requests }}"></update-Change>
              <div class="vendor"><strong>{{ $index+1 }}</strong> {{ location.name }}</div>
              <div class="meeting-address">{{ location.displayAddress }}</div>
            </div>
          </button>
          <div ui-view="task" ng-if="main.taskView"></div>
        </div> <!-- /col-left -->

        <div class="map-container">
          <div class="col-map">
            <mapbox id="map" callback="main.callback"></mapbox>
          </div>
        </div>

      </div> <!-- /row -->
    </div> <!-- /view-container -->
  </div> <!-- /hero-location -->
</div>
