<div id="hero-location" ng-controller="HeroLocationCtrl as ctrl">
  <nav-bar></nav-bar>
  hero location view

  <div ng-repeat="location in ctrl.locations">
    <div class="radio">
      <label>
      </label>
      <ul>
        <li class="btn btn-default" name="radioOptions" value="$index" ng-click="ctrl.select($index)"> <strong>{{ location.name }} </strong> {{ location.displayAddress }}</li>
      </ul>
    </div>
    <!-- <mapbox map-id="shreeyagoel.cif7csqcv0eews4lznq9rpu2b" lat="37.7874963" lng="-122.3999087"></mapbox> -->
    <div id="map" ng-model="ctrl.map"> </div>

  </div>

  <button ng-hide="ctrl.selection === undefined" ng-click="ctrl.confirm()">Confirm</button>
</div>
