<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="pull-right">
      <a ui-sref="profile" type="button" class="btn btn-default navbar-btn" ng-show="isLoggedIn() && !isCurrentState('profile')">Profile</a>
      <a href="/auth/facebook" type="button" class="btn btn-default navbar-btn" ng-show="isCurrentState('home')">Log In</a>
      <button type="button" class="btn btn-default navbar-btn" ng-show="isLoggedIn() && !isCurrentState('choice')" ng-click="goToState('choice')">Choice</button>
      <button type="button" class="btn btn-default navbar-btn" ng-show="isLoggedIn()" ng-click="logout()">Sign Out</button>
    </div>

  </div>
</nav>
